
        /* Estilos para el formulario de edición */
        .edit-user {
            max-width: 800px;
            height: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .edit-user h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
        .edit-user label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
            color: #555;
        }
        .edit-user input {
            width: 80%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
        .edit-user button {
            width: 82.5%;
            padding: 10px;
            background-color: #00538A;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }
        .edit-user button:hover {
            background-color: #0056b3;
        }

        .center {
            margin-left: 70px;
            margin-bottom: 15px;
        }

        input {
            display: block;
            margin: 0 auto; /* Centra horizontalmente */
        }

        button {
            display: block;
            margin: 0 auto; /* Centra horizontalmente */
        }
