body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.title-header {
        font-weight: bold;
        margin: 0;
        font-size: 2em;
}
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .option-sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #9a9a9a;
    margin-right: 10px;
    margin-left: 10px;
  }

  .sidebar-body {
    border-radius: 10px;
    background: white;
  }

  .sidebar-color {
    background-color: #6597ee !important;
  }

  .color-header  {
    background: white;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
  }

  .sidebar-footer {
    height: -webkit-fill-available;
    display: flex;
    width: 100%;
    align-items: flex-end;
    font-size: 12px;
  }

  .efficy-card {
    margin-left: 15px;
    margin-right: 15px;
  } 